input {
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 1rem;
  font-family: "urbanist", sans-serif;
}

button {
  border: none;
  outline: none;
  padding: 1.6rem 5rem;
  background-color: #2d3436;
  color: #f5f7f8;
  font-weight: 800;
  border-radius: 4rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;
  cursor: pointer;
}

ul li {
  list-style: square;
  padding: 1rem 8rem 1rem 5rem;
  user-select: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.2rem;
}

ul li:hover {
  background-color: rgb(234, 2, 2, 0.1);
}

ul li .icon-style {
  color: red;
}

ul li.checked {
  color: #555;
  text-decoration: line-through;
}
